{
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
	"endOfLine": "lf",
  "jsxSingleQuote": false
	
}
